.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.tag-cloud {
  flex: 1;
  display: flex;
  position: relative;
  left: 320px;
}

.tag-cloud-content {
  color: #ffd700;
  font-size: 20px;
}

ul li {
  font-family: 'Poppins', sans-serif;
}

.flat-button {
  color: #ffd700;
  font-size: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #ffd700;
  border-radius: 4px;
  background: 0 0;
  text-transform: uppercase;
  // float: right;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  width: max-content;
  margin-top: 25px;
  margin-left: 110px;
  &:hover {
    background-color: #ffd700;
    color: #115173;
    font-weight: bold;
    border-color: #ffd700;
    text-decoration: none;
  }

  a {
    color: #ffd700;
    text-decoration: none;

    &:hover {
      background-color: #ffd700;
      color: #115173;
    }
  }
}
