$primary-color: #ffd700;
$font-size-large: 100px;

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  color: $primary-color;
  font-size: 20px !important;
  font-weight: 500;
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    width: 0;
    height: 3px;
    background: $primary-color;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
  }

  &.active-link {
    color: $primary-color;
    &::after {
      width: 50%;
    }
  }
}

.tab-contents {
  display: none;

  &.active-tab {
    display: block;
  }

  ul {
    list-style: none;

    li {
      margin: 10px 0;

      .heading {
        color: $primary-color;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;

        + br {
          display: block;
        }
      }

      .inner {
        color: white;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
      }
    }
  }
}

.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 15%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: $font-size-large;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0 lightyellow;

    &.face1 {
      transform: translateZ(100px);
      color: #dd0031;
    }

    &.face2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #f06529;
    }

    &.face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #28a4d9;
    }

    &.face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: #5ed4f4;
    }

    &.face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      color: #efd81d;
    }

    &.face6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #ec4d28;
    }
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

.details {
  background-color: rgba(223, 223, 223, 0.205);
  border-radius: 10px;
  width: max-content;
  height: max-content;
  padding-left: 40px;
  padding-bottom: 10px;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
}

ul {
  margin-left: -40px;
  margin-top: -40px;
}
