$banner-height: 200px;
$scroll-duration: 8s;
$img-width: 300px;

.banner {
  width: 700%;
  height: $banner-height;
  position: relative;
  top: 30px;

  .banner-inner {
    display: flex;
    position: absolute;
    width: calc(200%);
    animation: scroll-horizontal $scroll-duration linear infinite;

    img {
      width: $img-width;
      height: auto;
      object-fit: cover;
      margin: 0 10px;
    }
  }
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

h1 {
  color: #ffd700;
  font-size: 56px;
  line-height: 53px;
  margin: 0;
  font-family: 'Coolvetica';
  font-weight: 400;

  &:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #fff;
    font-size: 18px;
    position: absolute;
    margin-top: -40px;
    left: -15px;
  }

  &:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore', cursive;
    color: #fff;
    font-size: 18px;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;

    opacity: 0.6;
  }
}
