$banner-height: 200px;
$scroll-duration: 8s;
$img-width: 300px;

#portfolio {
  padding: 50px 0;

  .container {
    .sub-title {
      color: #ffd700;
      font-size: 56px;
      line-height: 53px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #fff;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: -15px;
      }

      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #fff;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    .work-list {
      display: flex;
      width: 90%;

      .work {
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        width: 80%;

        img {
          width: 90%;
          height: 300px;
          display: flex;
          transition: transform 0.5s;
          border-radius: 10px;
        }

        &:hover img {
          transform: scale(1.1);
          border-top-right-radius: 31px;
        }

        .layer {
          width: 77%;
          height: 0%;
          background: linear-gradient(rgba(0, 0, 0, 0.6), #022c43);
          border-top-right-radius: 10px;
          position: absolute;
          left: 0;
          bottom: 0;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 40px;
          text-align: center;
          font-size: 14px;
          transition: height 0.5s;

          h3 {
            font-weight: 600;
            margin-bottom: 20px;
            color: #ffd700;
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
          }

          p {
            color: white;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
          }

          a {
            margin-top: 20px;
            color: #ff004f;
            text-decoration: none;
            font-size: 18px;
            line-height: 60px;
            background: #fff;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            text-align: center;
          }
        }

        &:hover .layer {
          height: 100%;
        }
      }
    }

    .btn {
      display: block;
      margin: 50px auto;
      width: fit-content;
      border: 1px solid #ffd700;
      padding: 14px 50px;
      border-radius: 6px;
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      transition: background 0.5s;

      &:hover {
        background: #ffd700;
        color: black;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}

.banner {
  width: 700%;
  height: $banner-height;
  position: relative;
  top: 30px;

  .banner-inner {
    display: flex;
    position: absolute;
    width: calc(200%);
    animation: scroll-horizontal $scroll-duration linear infinite;

    img {
      width: $img-width;
      height: auto;
      object-fit: cover;
      margin: 0 10px;
    }
  }
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
